services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apache_php
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      - mysql
    networks:
      - network

  mysql:
    image: mysql:8.0.44-debian
    container_name: mysql
    restart: always
    command: --sql-mode="NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - network

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_ALLOW_NO_PASSWORD: true
    volumes:
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      - mysql
    networks:
      - network

volumes:
  db_data:

networks:
  network:
    driver: bridge